@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.header {
  background: #fff8f3;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, bottom left;
}
.brand {
  font-size: 40px;
  font-weight: 700;
}

/* navbar */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 230px 0;
}
.nav > ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.nav ul li {
  margin-right: 50px;
}
.nav ul li a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
}
.primary_btn {
  padding: 15px 30px;
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;
  background-color: #fd6e0a;
  border-radius: 5px;
  border: none;
}
/* hero */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 30px 0 230px;
}
.hero_greetings {
  color: #474747;
  font-size: 45px;
}
.hero_title {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
  margin-bottom: 20px;
}
.hero_description {
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}
.contact_btn {
  background-color: transparent;
  border: 2px solid #fd6e0a;
  color: #fd6e0a;
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 5px;
  margin-left: 30px;
}
/* main section */
.main {
  max-width: 1140px;
  margin: 0 auto;
}
/* about section */
.about {
  padding: 130px;
  border-radius: 10px;
  background: #fff8f3;
  margin-top: 130px;
  text-align: center;
}
.about_title,
.what_i_do_title,
.resume_main {
  color: #181818;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}
.about_description,
.what_i_do_description {
  color: #757575;
  font-size: 18px;
  margin: 30px 0;
}
.personal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.details {
  color: #757575;
  font-size: 20px;
}
.info {
  color: #474747;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
/* what_i_do */
.what_i_do_content {
  padding: 130px 115px 0;
}
.what_i_do_description {
  margin-bottom: 50px;
}
.skill_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.skill_column {
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  margin-right: 20px;
}
.skill_title {
  color: #181818;
  font-size: 20px;
  font-weight: 700;
  margin: 30px 0 20px 0;
}
.skill_discription {
  color: #757575;
  font-size: 16px;
  line-height: 28px;
}
/* resume section */
.my_resume {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.resume_container {
  margin-right: 30px;
}
.resume_main {
  margin: 120px 0;
}
.resume_head {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}
.resume_title {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}
.resume_institute {
  color: #757575;
  font-size: 20px;
  margin-bottom: 20px;
}
.resume_info {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
}
.social a {
  display: inline-block;
  margin-right: 15px;
}
hr {
  margin: 30px 0;
  color: #d1d1d1;
}
.download {
  display: block;
  margin: 0 auto;
}
/* footer */
.footer {
  margin-top: 100px;
  padding: 130px 0;
  background-color: #fff8f3;
}
.connect {
  color: #181818;
  font-size: 35px;
  font-weight: 700;
}
.connect_info {
  color: #474747;
  line-height: 28px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.msg {
  color: #181818;
  font-size: 35px;
  font-weight: 700;
}
.footer_row {
  display: flex;
  justify-content: center;
  gap: 100px;
}
.footer_container {
  width: 50%;
}
.form input,
textarea {
  padding: 16px 30px;
  display: block;
  width: 100%;
  margin: 20px 0;
  border: none;
  border-radius: 5px;
}
.form input,
textarea:focus-visible {
  outline: none;
}
